/Lotto1.class
/package-info.class
/LottoGet.class
/Qus1Main.class
/Qus2.class
/Qus1.class
/Qus2Main.class
/Qus2Maindf.class
/Lotto2Main.class
/Lotto2.class
/Lotto1Main.class
/Lotto3.class
/Lotto3Main.class
